<!DOCTYPE html>
<html lang="en" ng-app="SpeedRacerViz" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <div ng-controller="vizCtrl">
    <h1>Round {{currentRound}}</h1>

    <div class="buttons">
        <button id="start" ng-click="start()">Start</button>
        <button id="pause" ng-click="pause()">{{ isRunning ? "Pause" : "Unpause" }}</button>
        <button id="stop" ng-click="stop()">Stop</button>
    </div>
  </div>

  <div ng-controller="GyroGraphController">
    <h2><span style="color: {{ gyroColor }}">GyroZ</span></h2>
    <canvas id="gyroCanvas" width={{width}} height="250"></canvas>
  </div>

  <div ng-controller="SpeedPowerGraphController">
    <h2><span style="color: {{ powerColor }}">Power</span> - <span style="color: {{ speedColor }}">Speed</span></h2>
    <canvas id="speedCanvas" width={{width}} height="250"></canvas>
  </div>

  <div ng-controller="RoundTimesGraphController">
    <h2>Round Times: Best = {{ lowestRoundTime > 0 && lowestRoundTime < 999999 ? lowestRoundTime : "-" }} </h2>

    <div id="roundTimesContainer"></div>
  </div>


  <script src="bower_components/angular/angular.js"></script>

  <script src="bower_components/sockjs/sockjs.min.js"></script>
  <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
  <script src="bower_components/stompie/stompie-min.js"></script>

  <script src="lib/jquery.min.js"></script>
  <script src="lib/underscore-min.js"></script>

  <script src="lib/canvasjs/jquery.canvasjs.min.js"></script>
  <script src="lib/smoothie.js"></script>

  <script src="app.js"></script>
  <script src="visualizer/viz.js"></script>

</body>
</html>
